#m8box{
	display:inline-block;
	position: relative;
}
.imgbox{
	position: relative;
}
.imgbox .m8box_img-tit{
	position: absolute;
	width: 100%;
	height:17px;
	padding-top:5px;
	background:rgba(0,0,0,.4);
	text-align: left;
	bottom:0;
	left:0;
	color:#fff;
}
.imgbox .m8box_img-tit p{
	padding-left:5px;
	text-align: left;
}
#m8box .btnbox .btn:hover{
	background-position:0 -240px;
}
#m8box .m8box_img-tit strong{
	color:#ff5d31;
	font-size:14px;
	padding:0 3px;
	font-weight: bold;
}
.m8box-tit{
	padding:14px 0 8px 10px;
	background:#fff;
	position: relative;
	border-bottom:1px solid #ebebeb;
}
.m8box-tit p{
	text-align: left;
	
}
.m8box-tit a:hover{
	color:#fd8d4e;
}
.m8box-tit1{
	color:#333;
	margin-bottom: 9px;
}
.m8box-tit2{
	color:#999;
}
.howmany{
	width: 52px;
	height:14px;
	background:url(../img/sec-r-movie.png) no-repeat left center;
	padding-left:16px;
}
.btn .opabox1{
	position:absolute;
	width: 100%;
	height:100%;
	background:rgba(0,0,0,.5);
	top: 0;
	left: 0;
}
.btn .opabox1 i{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	width:60px;
	height:60px;
	background:url(../img/mb4-movie.png);
}